.title {
  position: fixed;
  padding: 1rem 0 0 1rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 800px) {
  .title {
    position: fixed;
    width: 100%;
    padding: 0.75rem 0.75rem 0.7rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background-color: var(--color-background);
  }
}
